<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!--Bootstrap css -->
  
  <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
  <link rel="shortcut icon"  href="/img/logo.ico">
      <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
  <title>{{tituloPagina}}</title>       	
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><p><img src="img/cb.png" class="img-fluid" width="55px" height="25px" ></p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registroProducto">Create New Product</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
       
        {{#if sesion}}
          <li class="nav-item">
            <a class="nav-link" href="/carrito"><img src="/img/carrito.png" width="25px" height="25px"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Productos 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/shirt">All Products</a>
              <a class="dropdown-item" href="/notes/add">set aside products</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/salir">Logout</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/iniciar">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registrar">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
